#splash {
/*Gradiente background*/
  background: rgba(129,3,108,1);
  background: -moz-linear-gradient(-45deg, rgba(129,3,108,1) 0%, rgba(163,18,139,1) 20%, rgba(176,30,147,1) 36%, rgba(230,32,138,1) 77%, rgba(239,1,124,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(129,3,108,1)), color-stop(20%, rgba(163,18,139,1)), color-stop(36%, rgba(176,30,147,1)), color-stop(77%, rgba(230,32,138,1)), color-stop(100%, rgba(239,1,124,1)));
  background: -webkit-linear-gradient(-45deg, rgba(129,3,108,1) 0%, rgba(163,18,139,1) 20%, rgba(176,30,147,1) 36%, rgba(230,32,138,1) 77%, rgba(239,1,124,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(129,3,108,1) 0%, rgba(163,18,139,1) 20%, rgba(176,30,147,1) 36%, rgba(230,32,138,1) 77%, rgba(239,1,124,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(129,3,108,1) 0%, rgba(163,18,139,1) 20%, rgba(176,30,147,1) 36%, rgba(230,32,138,1) 77%, rgba(239,1,124,1) 100%);
  height: 100vh;
}

#logo {
  margin-top: 22vh;
  height: 40vh;
}

#pink {
  margin-top: 12vh;
  height: 55vh;
}

#modal-btn, #valid {
  background-color: #FF00BF;
  color: #ffff;
}

.fa {
  color: #FF00BF;
}

.message{
  color: #FF00BF;
  font-size: 14px;
}

.background {
  background-image: url('./../assets/images/taxi.jpg');
  background-size: cover;
  background-position: bottom;
  height: 105vh;
  width: auto;
}
