<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User info</title>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Corben" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
    <!--Icons from Fontawesome-->
    <link rel="stylesheet" href="./../assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <!--CSS-->
    <link rel="stylesheet" href="./../css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Sign Up</title>
  </head>
  <body>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="last">
          <center>
            <img src="./../assets/images/logo-white.png" id="logo"  alt="cover-splash">
              <h1>Now you are a driver</h1>
          </center>
        </div>
      </div>
    </div>

    <!--Enlace funcionalidad jquery-->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!--enlace jquery Funcionalidad bootstrap-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!--Otros-->
    <script src="assets/build/js/intlTelInput.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <!--enlace bootstrap JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--Enlace archivos JS-->
  </body>
</html>
