<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User info</title>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Corben" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
    <!--Icons from Fontawesome-->
    <link rel="stylesheet" href="./../assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <!--CSS-->
    <link rel="stylesheet" href="./../css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Sign Up</title>
  </head>
  <body>
        <div class="row">
          <div class="col-xs-12 col-sm-12 text-center">
            <h2 class="text-center"><i class="fa fa-angle-left fa" aria-hidden="true"></i>
                Sign Up</h2>

                <h4>Join for now for free ride credit</h4>

                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                      <label>
                        <input type="checkbox"> I agree to Lyft´ss <a href="#"><p>Terms of servide</p></a>
                        </label>
                      </div>
                    </div>
                    </div>
                    <div class="form-group">
                    </div>
                    </form>
                </div>
              </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 text-center next">
              <button type="button" name="button" id="next">NEXT</button>
            </div>
          </div>


    <!--Enlace funcionalidad jquery-->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!--enlace jquery Funcionalidad bootstrap-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!--Otros-->
    <script src="assets/build/js/intlTelInput.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <!--enlace bootstrap JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--Enlace archivos JS-->
  </body>
</html>
